@charset "UTF-8";

:root {
    color: #E3B277, #121328;
}

@font-face {
    font-family: 'ds_digital';
    src: url(ds_digital/DS-DIGI.TTF) format('opentype');
    font-weight: normal;
}

body.pomodoro-bg {
    margin: 0;
    background-image: url(imagens/GIF\ Wallpaper.gif);
    display: block;
    background-size: cover;
    background-repeat: no-repeat;

}

body.descansar-bg {
    margin: 0;
    background-image: url(imagens/Player\ 2\ -\ gif\ animation.gif);
    display: block;
    background-size: cover;
}


body.descansar-bg .more-less {
    color: #CD7B5C;
}

body.descansar-bg .play-pause {
    color: #CD7B5C;
}

body.descansar-bg .pomodoro {
    background-color: #CD7B5C;
    color: #151732;
}



.pomodoro {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: bold;
    height: 42px;
    border: 0;
    outline: none;
    box-shadow: 0px 0px 1px black;
    border-radius: 10px;
    background-color: #260F26;
    color: #FBD4A2;

}



.pomodoro_break {
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    box-shadow: 5px solid black;
}

/*todos os componeste do pomodoro*/
.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}


.container {
    margin: auto;

}

.display {
    margin: 0;
    display: flex;
    flex-direction: column;
}

p {
    font-family: ds_digital;
    font-size: 74px;
    color: black
}

.itens {
    display: flex;
    align-items: center;
    margin: 40px;
    height: 62px;
}





button {
    border-radius: 200px;
    -moz-border-radius: 200px;
    border: 0;
    outline: none;
    background-color: transparent;
    color: black;
}

button:hover {
    color: #fbd4a2c7;
    transition: 0.3s;
    cursor: pointer;
}

.board {
    display: flex;
    justify-content: center;
}

.more-less {
    font-size: 36px;
    color: #260F26;
}

.play-pause {
    font-size: 32px;
    color: #260F26;
}

/*Componestes do TO-Do list*/
.menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}

#close {
    color: #FBD4A2;
    cursor: pointer;
    margin-left: 10px;
    position: absolute;
    top: 0;
    left: 0;
}
#close:hover{
    transition: 0.3s;
    color:#998c7c ;
}
.nav-button {

    border: 0;
    cursor: pointer;
    color: #260F26;
}
.nav-button:hover{
    color: #260f2683;
}
#overlay {
    width: 0%;
    height: 100%;
    background-color: #121328;
    z-index: 9;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.5s;
}

#task-container {
    height: 460px;
    overflow-y: auto;
    border-radius: 5px;
    transition: all 0.5s;
}

#task-container::-webkit-scrollbar {
    width: 10px;
    /* Largura do scroll */
}

#task-container::-webkit-scrollbar-track {
    background: #1C1B40;
    /* Cor de fundo do track (parte não preenchida) */
}

#task-container::-webkit-scrollbar-thumb {
    background: #E3B277;
    /* Cor do thumb (parte preenchida) */
    border-radius: 5px;
    /* Borda arredondada do thumb */
}

#task-container::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Cor do thumb ao passar o mouse por cima */
}

.text-resume {
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 410px;
    margin: 0px;
    font-family: 'Roboto';
    font-weight: 300;
    color: white;
    font-size: 18px;
    overflow: hidden;
    position: relative;
    height: 135px;
    transition: max-height 0.3s ease;

}

.text-resume::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, #1213286e);
}
.task-resume.active .text-resume {
    height: auto;
}

.task-resume.active .text-resume::before {
    visibility: hidden;
}

.text-resumeOff {
    background: none;
}


.lista {
    width: 100%;
    height: 350px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

h3 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 800;
    font-size: 32px;
    color: #FBD4A2;
    margin: 0px;
}

.overlay-content {
    overflow-y: auto;
    height: 100%;

}

.overlay-background {
    background-image: url(imagens//Tumblr.gif);
    display: block;
    background-size: cover;
    padding: 46px;
    position: relative;
}

.task {
    display: flex;
    align-items: start;
    -webkit-box-shadow: -4px -3px 0px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px -3px 0px 3px rgba(0,0,0,0.75);
    box-shadow: -4px -4px 0px 3px tomato;
    border-radius: 5px 0px 0px 0px;
}


.task-content {
    position: relative;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 10px;

}

.task-content::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
}


.fa-square-check {
    font-size: 32px;
    padding: 10px;
    color: #E3B277;
}

/*arrumar o checkbox*/
.checkbox {
    font-size: 32px;
    padding: 10px;
    color: #E3B277;
}
.remoEdit{
    display: flex;
    flex-direction: column;
}

.trash {
    font-size: 18px;
    padding: 10px;
    color: #E3B277;
}

.trash:hover {
    cursor: pointer;
    color: #fbd4a26c;
    transition: 0.3s;
}

.trash-resume {
    font-size: 18px;
    margin-top: 10px;
    padding: 13px;
    color: #E3B277;
}
.edit {
    font-size: 18px;
    padding: 10px;
    color: #E3B277;
}

.edit:hover {
    cursor: pointer;
    color: #fbd4a26c;
    transition: 0.3s;
}


.to-do-box {

    border: 0;
    display: flex;
    align-items: center;


}

.input-icon-container {
    width: 100%;
    position: relative;
}

.to_do {
    width: calc(100% - 20px);
    padding: 10px;
    outline: none;
    background-color: #E3B277;
    border: none;
    border-radius: 5px 0px 0px 5px;
    font-size: 18px;
    color: #121328;
}

.addNoteMoreDescription {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #121328;
    cursor: pointer;
}


#addOk {
    font-family: ds_digital;
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    font-size: 18px;
    border: 1px solid rgba(255, 255, 255, 0.637);
    background-color: #121328;
    color: #E3B277;
    display: none;
}

.taskEdit {
 
  text-overflow: ellipsis; /* Adiciona reticências (...) para indicar texto cortado */
  white-space: nowrap; /* Impede a quebra de linha */
  max-width: 410px; 
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: white;
    overflow: hidden;
    text-align: start;
    margin-top: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.63);
    padding-left: 5px;
}



.task-resume {
    position: relative;
    margin-left: 10px;
}


.task-resumeOn {
    max-height: 135px;
}

.auto-height {
    max-height: none !important;
}

.containerTaskNew {
    text-align: left;
    width: 100%;
}

.divResume {
    display: flex;
    align-items: center;
}

.divResumeStart {
    display: block;
    background-repeat: no-repeat;
    height: auto;
    display: flex;
    align-items: start;
}

.angle {
    display: none;
    width: 100%;
    font-size: 24px;
    transition: all 0.5s;
}

.angle:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.425);
}

.btn-note {
    text-align: left;
}

.addnote {
    font-family: 'Roboto';
    font-size: 16px;
    cursor: pointer;
    border: 0;
    background-color: #ccc;
}



.resume {
    display: none;
    height: 150px;
    width: 95%;
    /* Ajuste para garantir que o textarea não seja coberto pelo botão */
    font-family: 'Roboto';
    font-size: 18px;
    padding-right: 15px;
    /* Ajuste para garantir que o texto não seja coberto pelo botão */
    border-radius: 5px;
}

#fecharNote {
    color: black;
    font-size: 18px;
    position: absolute;
    top: 5px;
    right: 5px;
    /* Posicionamento no canto superior direito */
    cursor: pointer;
    display: none;
}


.modal {
    display: none;
    justify-content: center;
    align-items: center;
    /**/
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

.modal-content {
    display: grid;
    background-color: #121328;
    padding: 20px;
    height: 70%;
    max-width: 450px;
    border-radius: 5px;
    border: 0;
}

.title {
    outline: none;
    background-color: #121328;
    border: 1px solid rgba(255, 255, 255, 0.637);
    font-size: 36px;
    color: white;
    width: 100%;
}

.title::placeholder {
    font-style: italic;
}

.modalText {
    outline: none;
    color: white;
    height: 250px;
    width: 100%;
    font-family: 'Roboto';
    font-size: 24px;
    background-color: #21233fd0;
    border-radius: 0px 0px 5px 5px;
}

#fecharModal {
    color: white;
    font-size: 18px;
    margin-left: auto;
    cursor: pointer;
}

#addModal {
    font-family: ds_digital;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid rgba(255, 255, 255, 0.637);
    background-color: #121328;
    color: #E3B277;
    display: none;
}
.prioridade-container{
    display: flex;
    justify-content: space-between;
    
}
.prioridade-content{
    background-color: black;
    max-width: 100px;
    list-style: none;
    color: white;
}
.priority-select{
    
    
    font-size: 18px;
}


footer {
    font-family: ds_digital;
    color: #F28B30;

}

.botao-audio {
    display: flex;
    justify-content: end;
}

.audio {
    font-size: 36px;
    color: #260F26
}

/*
            <div class="botao-audio">
                <button onclick="PlayAudio()"><i class="fa-solid fa-music"></i></button>
                <audio id="myAudio" class="audio">
                    <source src="audio/468407__onderwish__sci-fi-survival-dreamscape.mp3" type="audio/mp3">
                </audio>
            </div>
*/
@media (max-width:980px) {
    .to-do-box {
        min-width: 100px;
    }

    .to_do {

        font-size: 12px;
    }

    .adicionar {
        font-size: 14px;
    }
}

@media (max-width:700px) {
    .display {
        margin-left: 0;

    }

    overlay {
        width: 0%;
    }

}

@media(max-width:600px) {
    .play-pause {
        color: #DA6D38;
    }

    overlay {
        width: 0%;
    }

    .to_do {
        font-size: 18px;
        padding: 10px;
    }

    #addOk {
        padding: 10px;
    }
}