@charset "UTF-8";
:root{
    color: #E3B277, #121328;
}
@font-face {
    font-family: 'ds_digital';
    src: url(ds_digital/DS-DIGI.TTF) format('opentype');
    font-weight: normal;
}

body.pomodoro-bg {
    margin: 0;
    background-image: url(imagens/GIF\ Wallpaper.gif);
    display: block;
    background-size: cover;
    background-repeat: no-repeat;

}

body.descansar-bg {
    margin: 0;
    background-image: url(imagens/Player\ 2\ -\ gif\ animation.gif);
    display: block;
    background-size: cover;
}


body.descansar-bg .more-less {
    color: #CD7B5C;
}

body.descansar-bg .play-pause {
    color: #CD7B5C;
}

body.descansar-bg .pomodoro {
    background-color: #CD7B5C;
    color: #151732;
}



.pomodoro {
    font-family:'Roboto' ;
    font-size: 24px;
    font-weight: bold;
    height: 42px;
    border: 0;
    outline: none;
    box-shadow: 0px 0px 1px black;
    border-radius: 10px;
    background-color: #260F26;
    color: #FBD4A2;

}



.pomodoro_break {
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    box-shadow: 5px solid black;
}
/*todos os componeste do pomodoro*/
.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    overflow: hidden;
  }


  .container {
    margin: auto;
    
  }

  .display {
    margin:0;
    display: flex;
    flex-direction: column;
  }
  p {
    font-family: ds_digital;
    font-size: 74px;
    color: black
}

.itens {
    display: flex;
    align-items: center;
    margin: 40px;
    height: 62px;
}





button {
    border-radius: 200px;
    -moz-border-radius: 200px;
    border: 0;
    outline: none;
    background-color: transparent;
    color: black;
}

button:hover {
    color: #fbd4a2c7;
    transition: 0.3s;
    cursor: pointer;
}

.board {
    display: flex;
    justify-content: center;
}

.more-less {
    font-size: 36px;
    color: #260F26;
}

.play-pause {
    font-size: 32px;
    color: #260F26;
}

  /*Componestes do TO-Do list*/
  .menu{
    display: flex;
    justify-content:flex-end;
    margin-right: 5px;
}
#close{
    color:#FBD4A2;
    cursor: pointer;
    display: flex;
    justify-content: start;
    margin-left: 10px;
}
.nav-button{
    
    border: 0;
    cursor: pointer;
    color:#260F26 ;
}
#overlay{
    width: 30%;
    height: 100%;
    background-color:#121328;
    z-index: 9;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.5s;
}
#task-container{
    height: 440px;
    overflow-y: auto;
    border-radius: 5px;
    border: 2px solid rebeccapurple;
    transition: all 0.5s;
}
.text-resume{
    font-family: 'Roboto';
    font-weight: 300;
    color:yellow;
    font-size: 18px;
}

.lista{
    width: 100%;
    height: 350px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
}
  h3{
    font-family:'Roboto' ;
    font-size: 32px;
    font-weight: bold;
    color: #FBD4A2;
}
  .overlay-content{
    overflow-y: auto;
    height: 100%;
    
  }
  .task{
    display: flex;
    align-items: start;

  }
  .task-content{
    position: relative;
    padding: 0px;
    height: 180px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.63);
  }
  .task-content::before{
    content: '';
    position:absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
  }
  .task-resume .active{
    height: auto;
  }
  .task-resume .active::before{
    visibility: hidden;
  }

  .fa-square-check{
    font-size: 32px;
    padding: 10px;
  }
  /*arrumar o checkbox*/
  .checkbox{
    font-size: 32px;
    padding: 10px;
  }

  .fa-trash{
    font-size: 18px;
    margin-left: auto;
  }
  .container-todo{
    height: 10vh;
    
  }
  
  .to-do-box {
    
    border: 0;
    display: flex;
    align-items: end;
    
    
  }
  .to_do{
    width: 100%;
    padding: 10px;
    outline: none;
    background-color:#E3B277;
    border: none;
    border-radius: 0px 0px 0px 5px;
    font-size: 18px;
    color:#121328;
  }
  

  #addOk{ 
    font-family: ds_digital;
    padding: 11px;
    border-radius:5px;
    font-size: 18px;
    border:1px solid rgba(255, 255, 255, 0.637);
    background-color:#121328;
    color:#E3B277;
    display: none;
  }
.taskEdit{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    color: yellow;
    overflow: hidden;
    text-align: start;
}

.task-resume{
    height: 135px;
    overflow: hidden;
    position: relative;
}
.task-resume::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background:linear-gradient(transparent,#12132870);
}
.btn-note{
    text-align: left;
}
.addnote{
    font-family: 'Roboto';
    font-size:16px ;
    cursor: pointer;
    border: 0;
    background-color: #ccc;
}

.resume_container {
    position: relative; /* Mudança para 'relative' para que o 'absolute' funcione corretamente */
}

.resume {
    display: none;
    height: 150px;
    width: 95%; /* Ajuste para garantir que o textarea não seja coberto pelo botão */
    font-family: 'Roboto';
    font-size: 18px;
    padding-right: 15px; /* Ajuste para garantir que o texto não seja coberto pelo botão */
    border-radius: 5px;
}

#fecharNote {
    color: black;
    font-size: 18px;
    position: absolute;
    top: 5px;
    right: 5px; /* Posicionamento no canto superior direito */
    cursor: pointer;
    display: none;
}




footer {
    font-family: ds_digital;
    color: #F28B30;
    
}
.botao-audio{
    display: flex;
    justify-content: end;
}
.audio{
    font-size: 36px;
    color: #260F26
}

/*
            <div class="botao-audio">
                <button onclick="PlayAudio()"><i class="fa-solid fa-music"></i></button>
                <audio id="myAudio" class="audio">
                    <source src="audio/468407__onderwish__sci-fi-survival-dreamscape.mp3" type="audio/mp3">
                </audio>
            </div>
*/
@media (max-width:980px){
    .to-do-box{
        min-width:100px ;
    }
    .to_do{
       
        font-size: 12px;
    }
    .adicionar{
        font-size: 14px;
    }
}
@media (max-width:700px) {
    .display{
        margin-left:0 ;
        
    }
    overlay{
        width: 0%;
    }

}
@media(max-width:600px){
    .play-pause{
        color:#DA6D38 ;
    }
    overlay{
        width: 0%;
    }
}
